.about--wrapper {
    background-color: white;
    padding: 36px 0px 36px 0px;
}

.about--wrapper h2{
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    text-align: center;
    color: #5B4FD5;
}


#about--title-underline {
    border-bottom: 2px solid #5B4FD5;
}


.about--big--wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.about--right-wrapper img {
    max-width: 300px;
    border-radius: 40px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin-bottom: 16px;
}

.about--right-wrapper p {
    max-width: 300px;
    text-align: justify;
    line-height: 1.6;
    font-weight: 400;
}


.about--list--skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center

}

#about--title {
    text-align: center;
    padding-bottom: 4px;
}

li {
    list-style: none;
    text-decoration: none;
    padding-bottom: 50px;
    text-align: center;
    padding: 30px 0px 30px 30px;
    width: 30%;
}

li p {
    padding-top: 18px;
}

#about--right--span {
    color:#5B4FD5;
    border-bottom: 2px solid #5B4FD5;
}





.fa-html5 {
    color:#F25220;
}

.fa-css3-alt {
    color:#2D48CE;
}

.fa-js {
    color:#EBD41B;
}

.fa-sass {
    color:#C26292;
}

.fa-react {
    color:#61DAFB;
}


.fa-brands {
    border: 1px solid black;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    padding: 10px;
    border-radius: 50%;
}



.fa-solid {
    border: 1px solid black;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    padding: 10px;
    border-radius: 50%;
}

.fa-solid:hover {
    opacity: 0.6;
    transition: 250ms ease;
}



.fa-twitter {
    color: #188CD8;
    border: 1px solid #188CD8;
}

.fa-brands:hover {
    opacity: 0.6;
    transition: 250ms ease;
}

.fa-bootstrap {
    color:#6F12EA;
}