.about--wrapper {
    background-color: white;
    padding: 150px 0px 250px 0px;
    position: relative;
}


.custom-shape-divider-top-1654804548 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1654804548 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 66px;
}

.custom-shape-divider-top-1654804548 .shape-fill {
    fill: #D6C24F;
}


.about--wrapper h2{
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    text-align: center;
    color: #8378FF;
}


#about--title-underline {
    border-bottom: 2px solid #8378FF;
}


.about--big--wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
}

.about--right-wrapper img {
    max-width: 300px;
    border-radius: 40px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin-bottom: 16px;
}

.about--right-wrapper p {
    max-width: 300px;
    text-align: justify;
    line-height: 1.6;
    font-weight: 400;
}

.skills {
    width: 33%;
}
.about--list--skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center

}

#about--title {
    text-align: center;
    padding-bottom: 4px;
    color : #8378FF
}

li {
    list-style: none;
    text-decoration: none;
    text-align: center;
}

.skills {
    padding: 30px 0px 30px 30px;
}

li p {
    padding-top: 18px;
    padding-bottom: 12px;
}

#about--right--span {
    color:#5B4FD5;
    border-bottom: 2px solid #5B4FD5;
}

.fa-html5 {
    color:#F25220;
}

.fa-css3-alt {
    color:#2D48CE;
}

.fa-js {
    color:#EBD41B;
}

.fa-sass {
    color:#C26292;
}

.fa-react {
    color:#61DAFB;
}


.fa-brands {
   
    padding: 10px;
    border-radius: 50%;
}

.fa-solid {
    border-radius: 50%;
}

.fa-solid:hover {
    opacity: 0.6;
    transition: 250ms ease;
}

.fa-twitter {
    color: #D6C24F;;
    border: 1px solid #D6C24F;;
}

.fa-brands:hover {
    opacity: 0.6;
    transition: 250ms ease;
}

.fa-bootstrap {
    color:#6F12EA;
}

.borderc {
    border: 1px solid #2D48CE;
    box-shadow: 0 0 15px #2D48CE;
}

.borderh {
    border: 1px solid #F25220;
    box-shadow: 0 0 15px #F25220;
}

.borderj {
    border: 1px solid #EBD41B;
    box-shadow: 0 0 6px #EBD41B;
}

.borders {
    border: 1px solid #C26292;
    box-shadow: 0 0 15px #C26292;
}

.borderr {
    border: 1px solid #61DAFB;
    box-shadow: 0 0 15px #61DAFB;
}

.borderbo {
    border: 1px solid #6F12EA;
    box-shadow: 0 0 15px #6F12EA;
}


.custom-shape-divider-bottom-1654787346 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1654787346 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 160px;
}

.custom-shape-divider-bottom-1654787346 .shape-fill {
    fill: #8378FF;
}

.bordersq {
    border: 1px solid black;
    box-shadow: 0 0 15px black;
    padding: 10px;
}