.projects--background {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 130px;
}

#projects--title {
    font-size: 24px;
    color: #6D83F2;
    text-align: center;
}

.project {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    padding: 30px;
    margin-top: 25px;
}

.project--left {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    height: inherit;
}

.project--left h4 {
    font-size: 20px;
}

.project--skill--title {
    font-size: 16px;
}

.project--description {
    margin-bottom: 15px;
}


.project--skill--wrapper {
    display: flex;
    align-items: center;
    justify-content: left;
    
}

.project--skill {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

.project--skill p {
    font-weight: 300;
}

.projects--wrapper--background {
    padding: 100px 0px 200px 0px;
    margin-left: 100px;
    margin-right: 100px;
}

.project--image img {
    width: 320px ;
    height: 200px;
    border-radius: 4px;
}

.project:hover {
    border-left: 6px solid #6D83F2;
    transition: 50ms ease-out;
}


.fa-circle-chevron-right {
    padding-right: 5px;
    color :#6D83F2;
}

.project--link {
    list-style: none;
    text-decoration: none;
    background-color: #6D83F2;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 4px;
    width: 45%;
}

.project--link:hover {
    border: 2px solid #6D83F2;
    background-color: transparent;
    padding: 10px;
    color: #6D83F2;
    transition: 200ms ease;
}


#project--desc {
    width: 450px;
    font-style: italic;
}

.project--github--btn {
    display: flex;
    align-items: flex-start;
    justify-content: left;
}


@media(max-width: 1000px) {
    #project-img {
        height: 150px;
        width: 250px;
    }
    #project--desc {
        font-size: 14px;
    }
    .projects--wrapper--background {
        margin-left: 60px;
        margin-right: 60px;
    }
    
}

@media(max-width: 850px) {
    .projects--wrapper--background {
        margin-left: 40px;
        margin-right: 40px;
    }
    
}

@media(max-width: 825px) {
    #project-img {
        height: 100px;
        width: 150px;
    }
    
}

@media(max-width: 700px) {
    #project-img {
        display: none;
    }
}

@media(max-width: 540px) {
    .project:hover {
        border-left: 0;
    }
    #project--desc {
        width: 350px;
        
    }
}

@media(max-width: 450px) {
    .projects--wrapper--background {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media(max-width: 405px) {
  .project--left h4 {
    font-size: 14px;
    text-align: center;
  }
  #project--desc {
      font-size: 12px;
      width: 200px;
  }

}