#skills h1 {
  color: #6d83f2;
  text-align: center;
}

.skills-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
}

.skill {
  width: 15%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

.skill img {
  height: 50%;
  width: 50%;
}

.skill img:hover {
  box-shadow: 0 0 25px #fef4f5;
}

.img-wrapper {
  height: 90px;
  width: 90px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img--desc {
  margin-top: 6px;
  font-weight: 300;
  font-size: 14px;
}

.skills-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 200px;
}

.experiences-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.experiences-title {
  font-weight: 600;
  font-size: 14px;
}

.experiences-employer {
  font-weight: 300;
  font-size: 14px;
  margin-top: 6px;
}

.experiences-year {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px;
}

.experiences-year p {
  padding-bottom: 50px;
}

.experiences {
  padding-bottom: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.experiences-divider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.experiences-dates {
  margin: 25px;
  color: #6d83f2;
}

@media (max-width: 1080px) {
  .skills-container {
    flex-direction: column;
  }
  .skills-wrapper {
    width: 90%;
    margin-bottom: 50px;
  }
}

@media (max-width: 580px) {
  .skills-wrapper {
    width: 100%;
    margin-bottom: 50px;
    justify-content: space-evenly;
  }
  .skills-container {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .skill {
    width: 20%;
  }
}
