.wave--transition {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.1)), url("../components/images/layered-waves-haikei\ \(2\).svg");
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wave--about {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.1)), url("../components/images/transition-about.svg");
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.wave--transition--second {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.1)), url("../components/images/stacked-waves-haikei.svg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}